version: '3'
services:
  petclinic:
    image: aeramzy9/pet-clinic:latest
    depends_on:
      - mysqldb    
    ports:
        - "8081:8080"   
    build:
      context: .
      dockerfile: Dockerfile   


  mysqldb:
    image: mysql:5.7
    ports:
      - "3307:3306"
    environment:
      - MYSQL_ROOT_PASSWORD=
      - MYSQL_ALLOW_EMPTY_PASSWORD=true
      - MYSQL_USER=petclinic
      - MYSQL_PASSWORD=petclinic
      - MYSQL_DATABASE=petclinic
    volumes:
      - "./conf.d:/etc/mysql/conf.d:ro"


      
