version: '3'
services:

  mysql:
    image: mysql:5.7
    ports:
      - "3306:3306"
    # build:
      # context: .
      # dockerfile: Dockerfile.data
    environment:
      - MYSQL_ROOT_PASSWORD=
      - MYSQL_ALLOW_EMPTY_PASSWORD=true
      - MYSQL_USER=petclinic
      - MYSQL_PASSWORD=petclinic
      - MYSQL_DATABASE=petclinic
    volumes:
      - "./conf.d:/etc/mysql/conf.d:ro"
  petclinic:
    depends_on:
      - mysql  
    image: aeramzy9/pet-clinic:latest
    ports:
        - "8081:8080"   
    build:
      context: .
      dockerfile: Dockerfile   
    environment:
      - SPRING_DATASOURCE_URL=jdbc:mysql://mysql:3306/petclinic?autoReconnect=true&useSSL=false
      - MYSQL_ROOT_PASSWORD= 
      - MYSQL_ALLOW_EMPTY_PASSWORD=true    
      - MYSQL_PORT=3306
      - MYSQL_USER=petclinic
      - MYSQL_PASSWORD= petclinic







      
